<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d661ba">  <td>18/11/07 13:36:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Main.afterMethod(org.testng.ITestResult)[pri:0, instance:service.Service@1b410b60]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@841262455</td>   <td></td> </tr>
<tr bgcolor="63cf88">  <td>18/11/07 13:35:53</td>   <td>-42230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Service.scheduleDoctor()[pri:0, instance:service.Service@1b410b60]">scheduleDoctor</td> 
  <td>main@841262455</td>   <td></td> </tr>
<tr bgcolor="d661ba">  <td>18/11/07 13:36:36</td>   <td>74</td> <td title="&lt;&lt;Main.tearDown(org.testng.ITestContext)[pri:0, instance:service.Service@1b410b60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841262455</td>   <td></td> </tr>
<tr bgcolor="d661ba">  <td>18/11/07 13:35:48</td>   <td>-47523</td> <td title="&gt;&gt;Main.tearUp()[pri:0, instance:service.Service@1b410b60]">&gt;&gt;tearUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@841262455</td>   <td></td> </tr>
</table>
